*#
*.#*
*.class
*.jar
*sw?
*~
.hg/
.hgignore
.cljs_rhino_repl
/.lein-*
/.nrepl-port
/checkouts
/classes
/env.el
/target
npm-debug.log
pom.xml
pom.xml.asc
provisioning/*.retry

out/*
frontend/dist dist.tar.gz
frontend/node_modules
frontend/bower_components
frontend/dist.tar.gz
frontend/dist/
resources/public/adminbox
resources/public
env.sh
aidbox.log
riemann.log
fetcher
fetcher.pub
figwheel_server.log
